---
import ExperienceItem from "./ExperienceItem.astro"
import { t } from "i18next";
const EXPERIENCE = [
  {
    date:  t("formacion.cicloFecha"),
    title: t("formacion.ciclo"),
    company: t("formacion.cicloCentro"),
    description:t("formacion.cicloDescripcion"),
  },
  {
    date: t("formacion.reactFecha"),
    title: t("formacion.react"),
    company: t("formacion.reactCentro"),
    description: t("formacion.reactDescripcion"),
  },
  
  {
    date: t("formacion.javascriptFecha"),
    title: t("formacion.javascript"),
    company: t("formacion.javascriptCentro"),
    description: t("formacion.javascriptDescripcion"),
  },
  {
    date: t("formacion.bootcampFecha"),
    title: t("formacion.bootcamp"),
    company: t("formacion.bootcampCentro"),
    description: t("formacion.bootcampDescripcion"),
  },
  
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
